md-dialog(aria-label='Heat Map Modal')
  md-toolbar
    .md-toolbar-tools
      h2 Generate Heat Map of the city
      span(flex='')
      md-button.md-icon-button(ng-click='vm.close()')
        md-icon(md-svg-src='assets/img/ic_close_24px.svg', aria-label='Close dialog')
  md-dialog-content
    .md-dialog-content
      form(name="heatMapForm" id="heatMapForm" class="formModal" ng-submit="vm.filter()")
        md-input-container.md-block
          label Put the city for generate heat map
          input(type="text" required, name='city', ng-model='vm.city')
          div(ng-messages='heatMapForm.distance.$error')
            div(ng-message='required') This is required.
  md-dialog-actions(layout='row')
    md-button(ng-click='vm.close()')
      | Cancel
    md-button.md-raised.md-primary(type="submit" form="heatMapForm")
      | Filter
