md-dialog(aria-label='Welcome to my softruck front end test!')
  md-toolbar
    .md-toolbar-tools
      h2 Welcome to my softruck front end test!
  md-dialog-content(class="text-center")
    .md-dialog-content
      md-button.md-raised.md-primary(ng-click='vm.startest()')
        | Show me your test
