div(class="options")
  md-content
    md-tabs
      md-tab(label='Places' ng-click="openPlacesModal()")
      md-tab(label='Heat Map' ng-click="openHeatMapModal()")
      md-tab(label='Top 5' ng-click="openTopFiveModal()")
